# Python
__pycache__/
*.pyc
.venv/
.env

# Docker / runtime
mosquitto/data/
mosquitto/log/
influxdb/data/
influxdb/config/
frontend/node_modules/
node_modules/

# OS / IDE
.vscode/
.DS_Store
Thumbs.db